.text {
  font-family: Tinos, serif;
}

.list {
  list-style-type: upper-roman;
}

.multichar {
  display: inline-block;
  vertical-align: bottom;
}

.multichar tbody {
  vertical-align: bottom;
}

.multichar small {
  vertical-align: bottom;
}

.multichar td {
  padding: 0;
  margin: 0;
  text-align: center;
}

.multicharTop {
  line-height: 0.7;
}

.exampleLine {
  vertical-align: bottom;
}
