.wrapper {
  position: relative;
}

.image {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 90px;
  transition: transform 0.8s ease-in-out;
}

.inputTable {
  height: 100%;
  margin-top: 30px;
  margin-left: 10vh;
  margin-right: 10vh;
}
